/*! improt */
@import url('font.css');        /** 폰트 */
@import url('normalize.css');   /** 전범위 */
@import url('r-navbar.css');    /** 반응형 나브 바 */
@import url('r-footer.css');    /** 반응형 푸터 */

.title{
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-family: 'Suit-ExtraBold';
}

.aboutUs {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
       
    
}

.toggle-section {
    padding: 0;
    position: relative;
    max-width: 70vw;
    margin: auto;
    background-color: rgb(255, 255, 255);
    
}

.content {
    margin: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    position: relative;
    padding: 1vw;
    max-height: 3119px;
    color: #000000;
    
}

#article-re {
    font-family: 'pretendard-regular';
    color: #000000;
    font-size: 12px;
    
}

#article-title{
    font-family: 'Suit-ExtraBold';
    text-align: center; /* 텍스트도 가운데 정렬 */
    color: #000000;
    font-size: 17px;
    
}
