/*! improt */
@import url('font.css');        /** 폰트 */
@import url('normalize.css');   /** 전범위 */
@import url('r-navbar.css');    /** 반응형 나브 바 */
@import url('r-footer.css');    /** 반응형 푸터 */




.i-phone14-pro18-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .i-phone14-pro18-i-phone14-pro18 {
    width: 100%;
    height: 2313px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .i-phone14-pro18-ellipse5 {
    top: 19px;
    left: 346px;
    width: 25px;
    height: 25px;
    position: absolute;
  }
  .i-phone14-pro18-frame {
    top: 11px;
    left: 175px;
    width: 44px;
    height: 41.81999969482422px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .i-phone14-pro18-group {
    top: 0.007500015199184418px;
    left: 0px;
    width: 43.849998474121094px;
    height: 41.81500244140625px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .i-phone14-pro18-group1 {
    top: 0px;
    left: 0px;
    width: 43.849998474121094px;
    height: 41.81500244140625px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .i-phone14-pro18-vector {
    top: 19.34265899658203px;
    left: 0px;
    width: 44px;
    height: 22px;
    position: absolute;
  }
  .i-phone14-pro18-vector1 {
    top: 0px;
    left: 0px;
    width: 44px;
    height: 24px;
    position: absolute;
  }
  .i-phone14-pro18-text {
    top: 526px;
    left: -67px;
    color: rgba(227, 174, 174, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .i-phone14-pro18-text02 {
    top: 194px;
    left: 47px;
    color: rgba(0, 0, 0, 1);
    width: 143px;
    height: auto;
    position: absolute;
    font-size: 28px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .i-phone14-pro18-rectangle176 {
    top: 317px;
    left: 47px;
    width: 183px;
    height: 189px;
    position: absolute;
  }
  .i-phone14-pro18-rectangle177 {
    top: 317px;
    left: 246px;
    width: 183px;
    height: 189px;
    position: absolute;
  }
  .i-phone14-pro18-text04 {
    top: 544px;
    left: 47px;
    color: rgba(0, 0, 0, 1);
    width: 290px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .i-phone14-pro18-text15 {
    top: 828px;
    left: 47px;
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .i-phone14-pro18-text24 {
    top: 265px;
    left: 47px;
    color: rgba(0, 0, 0, 1);
    width: 143px;
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .i-phone14-pro18-rectangle210 {
    top: 990px;
    left: 0px;
    width: 229px;
    height: 135px;
    position: absolute;
  }
  .i-phone14-pro18-rectangle211 {
    top: 1125px;
    left: 164px;
    width: 229px;
    height: 134px;
    position: absolute;
  }
  .i-phone14-pro18-text26 {
    top: 1012px;
    left: 200px;
    color: rgba(0, 0, 0, 1);
    width: 181px;
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .i-phone14-pro18-text33 {
    top: 1155px;
    left: 16px;
    color: rgba(0, 0, 0, 1);
    width: 181px;
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: right;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  