/** 폰트 설정 */
@font-face {
    font-family: 'Suit_Bold'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Bold.otf') format('otf'),
        url('../fonts/SUIT-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit_ExtraBold'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-ExtraBold.otf') format('otf')
        url('../fonts/SUIT-ExtraBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-ExtraLight'; /* 폰트 패밀리 이름  */
    src: url('../fonts//SUIT-ExtraLight.otf') format('otf')
        url('../fonts/SUIT-ExtraLight.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-Heavy'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Heavy.otf') format('otf')
        url('../fonts/SUIT-Heavy.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-Light'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Light.otf') format('otf')
        url('../fonts/SUIT-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-Medium'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Medium.otf') format('otf')
        url('../fonts/SUIT-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-Regular'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Regular.otf') format(otf),
        url('../fonts/SUIT-Regular.ttf') format(ttf);
}

@font-face {
    font-family: 'Suit-Thin'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Thin.otf') format('otf'),
        url('../fonts/SUIT-Thin.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-SemiBold'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-SemiBold.otf') format('otf')
        url('../fonts/SUIT-SemiBold.ttf') format('ttf');
}


/** 전범위 설정 */
*{
    padding:0;
    margin:0;
}

li{
    list-style:none;
    text-decoration:none;
}

a{
    text-decoration:none;
    font-size:5vw
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f0f0f0; /* 배경색*/
}

.container {
    width: 100vw; /* 고정 가로 너비로 설정 */
    /* text-align: center; */
    background-color: #ffffff; /* 컨테이너 배경색 */
    padding: 5vw;
    box-shadow: 0px 0px 50vw rgba(0, 0, 0, 0.1); /* 그림자 효과*/
    /* font-family: 'Suit-SemiBold';        폰트 적용.  */

}


/** 반응형 메뉴 바 */

/** 모바일 화면 */
@media (max-width: 480px) {
    .menu {
        position: fixed;
        width: 100vw;
        height: auto;       /* 전체 높이 */
        overflow: hidden;
        margin: 0vw;
        padding-top: 0vw;
        padding-bottom: 10vw;
    }
    
    #nav-menu {
        line-height: 40px;    /* 줄간격 */
        background-color: transparent;
        margin-top: 2vw;
        padding-right: 3vw;
    }

    /* 나브 아이콘 스타일링 */
    #nav-icon {
        cursor: pointer;
        width: 28px;
        float: right;
        margin-right: 3.5vw;
        margin-top: 1.5vw;
    }

    .menu > li {
        position: fixed;
        width: auto;
        float: right;
        text-align: center;
        position: sticky;
        padding-right: 10vw;
    }
    
    .menu a { /* 메뉴 텍스트 색 */
        color: #000000;
        font-family: "Suit-SemiBold" ;
        font-size: 18px;
    }
    
    .submenu > li {
        display: none;
    }
        
    .logoImg {
        position: fixed;
        width: 43px;
        float: center;
        right: calc(37vw + 5vw); /* 스크롤을 내릴 때 왼쪽에서 10px만큼 이동 */
        transition: right 0.7s ease-in-out; /* 왼쪽으로 이동할 때 애니메이션 적용 .. 시간 조절 불가능.. 안먹힘*/
    }
    
    .logoImg.fixed {
        right: calc(40vw + 45vw); /* 스크롤을 내릴 때 왼쪽 끝으로 이동할 위치 설정 */
    }


}

/**태블릿 화면 */
@media (min-width: 481px) and (max-width: 1024px) {
    .menu {
        position: fixed;
        width: 100vw;
        height: auto;       /* 전체 높이 */
        overflow: hidden;
        margin: 0vw;
        padding-top: 0vw;
        padding-bottom: 10vw;
    }
    
    #nav-menu {
        line-height: 70px;    /* 줄간격 */
        background-color: transparent;
        margin-top: 2vw;
        padding-right: 3vw;
    }

    /* 나브 아이콘 스타일링 */
    #nav-icon {
        cursor: pointer;
        width: 50px;
        float: right;
        margin-right: 3.5vw;
        margin-top: 1.5vw;
    }

    .menu > li {
        position: fixed;
        width: auto;
        float: right;
        text-align: center;
        position: sticky;
        padding-right: 10vw;
    }
    
    .menu a { /* 메뉴 텍스트 색 */
        color: #000000;
        font-family: "Suit-SemiBold" ;
        font-size: 30px;
    }
    
    .submenu > li {
        display: none;
    }
    
    .logoImg {
        position: fixed;
        width: 7vw;
        right: calc(40vw + 5vw); /* 스크롤을 내릴 때 왼쪽에서 10px만큼 이동 */
        transition: right 0.7s ease-in-out; /* 왼쪽으로 이동할 때 애니메이션 적용 .. 시간 조절 불가능.. 안먹힘*/
    }
    
    .logoImg.fixed {
        right: calc(40vw + 45vw); /* 스크롤을 내릴 때 왼쪽 끝으로 이동할 위치 설정 */
    }
}

/** 데스크탑 화면 */
@media (min-width: 1025px) {
    .menu {
        position: fixed;
        width: 100vw;
        height: auto;       /* 전체 높이 */
        overflow: hidden;
        margin: 0vw;
        padding-top: 0vw;
        padding-bottom: 10vw;
    }
    
    #nav-menu {
        line-height: 70px;    /* 줄간격 */
        background-color: transparent;
        margin-top: 2vw;
        padding-right: 3vw;
    }

    /* 나브 아이콘 스타일링 */
    #nav-icon {
        cursor: pointer;
        width: 50px;
        float: right;
        margin-right: 3.5vw;
        margin-top: 1.5vw;
    }

    .menu > li {
        position: fixed;
        width: auto;
        float: right;
        text-align: center;
        position: sticky;
        padding-right: 10vw;
    }
    
    .menu a { /* 메뉴 텍스트 색 */
        color: #000000;
        font-family: "Suit-SemiBold" ;
        font-size: 25px;
    }
    
    .submenu > li {
        display: none;
    }
    
    .logoImg {
        position: fixed;
        width: 70px;
        float: center;
        right: calc(43vw + 5vw); /* 스크롤을 내릴 때 왼쪽에서 10px만큼 이동 */
        transition: right 0.7s ease-in-out; /* 왼쪽으로 이동할 때 애니메이션 적용 .. 시간 조절 불가능.. 안먹힘*/
    }
    
    .logoImg.fixed {
        right: calc(40vw + 50vw); /* 스크롤을 내릴 때 왼쪽 끝으로 이동할 위치 설정 */
    }
}


/** 세부 설정 */
.motionGraphic {
    padding-top: 110vw;
    padding-bottom: 110vw;
    padding: 110vw 0vw 110vw 0vw;
    background-color: #9ea9f2; /* 컨테이너 배경색 */
    width: 100vw;
}

.decorate_1 {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    font-family: 'Suit-ExtraLight';
}

.year {
    margin: 00px;
    padding: 0px;
    rotate:90deg;
    width: 50px;
    font-size: 5vw;
}

.decorate_2 {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.v-line {
    margin-top: 8vw;
    margin-bottom: 0px;
    border-left : 0.2vw solid #000000;
    height : 85px;
}

.article {
    padding-top: 175px;
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트도 수평 가운데 정렬합니다. */
    flex-direction: column; /* 내부 요소들을 수직으로 정렬합니다. */
}

.subTitle {
    padding-top: 35px;
    font-weight: 10px;
    color: #8f8e8e;
}

.contents {
    margin-top: 70px;
    margin-bottom: 70px;
}

.decorate_3 {
    font-size: 60px;
    font-weight: lighter;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    justify-content: center; /* 수평 가운데 정렬 */
}

.image-container img {      /*가로 이미지   */
    width: 80px;
    height: auto;
}

.decorate_4 {
    font-size: 45px;
    font-weight: lighter;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column; /* 세로로 쌓이도록 설정 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트도 가운데 정렬 */
}


