/** 폰트  */
/* SUIT */
@font-face {
    font-family: 'Suit_Bold'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Bold.otf') format('otf'),
        url('../fonts/SUIT-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit_ExtraBold'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-ExtraBold.otf') format('otf')
        url('../fonts/SUIT-ExtraBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-ExtraLight'; /* 폰트 패밀리 이름  */
    src: url('../fonts//SUIT-ExtraLight.otf') format('otf')
        url('../fonts/SUIT-ExtraLight.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-Heavy'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Heavy.otf') format('otf')
        url('../fonts/SUIT-Heavy.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-Light'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Light.otf') format('otf')
        url('../fonts/SUIT-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-Medium'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Medium.otf') format('otf')
        url('../fonts/SUIT-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-Regular'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Regular.otf') format(otf),
        url('../fonts/SUIT-Regular.ttf') format(ttf);
}

@font-face {
    font-family: 'Suit-Thin'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-Thin.otf') format('otf'),
        url('../fonts/SUIT-Thin.ttf') format('ttf');
}

@font-face {
    font-family: 'Suit-SemiBold'; /* 폰트 패밀리 이름  */
    src: url('../fonts/SUIT-SemiBold.otf') format('otf')
        url('../fonts/SUIT-SemiBold.ttf') format('ttf');
}

/* Pretendard */
@font-face {
    font-family: 'Pretendard-Black'; /* 폰트 패밀리 이름  */
    src: url('../fonts/Pretendard-Black.ttf') format('ttf');
}

@font-face {
    font-family: 'Pretendard-Bold'; /* 폰트 패밀리 이름  */
    src: url('../fonts/Pretendard-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Pretendard-ExtraBold'; /* 폰트 패밀리 이름  */
    src: url('../fonts/Pretendard-ExtraBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Pretendard-ExtraLight'; /* 폰트 패밀리 이름  */
    src: url('../fonts/Pretendard-ExtraLight.ttf') format('ttf');
}

@font-face {
    font-family: 'Pretendard-Light'; /* 폰트 패밀리 이름  */
    src: url('../fonts/Pretendard-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Pretendard-Medium'; /* 폰트 패밀리 이름  */
    src: url('../fonts/Pretendard-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Pretendard-Regular'; /* 폰트 패밀리 이름  */
    src: url('../fonts/Pretendard-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Pretendard-SemiBold'; /* 폰트 패밀리 이름  */
    src: url('../fonts/Pretendard-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Pretendard-Thin'; /* 폰트 패밀리 이름  */
    src: url('../fonts/Pretendard-Thin.ttf') format('ttf');
}




/** 전범위 설정 */
*{
    padding:0;
    margin:0;
}

li{
    list-style:none;
    text-decoration:none;
}

a{
    text-decoration:none;
    font-size:5vw
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f0f0f0; /* 배경색*/
}

.container {
    width: 100vw; /* 고정 가로 너비로 설정 */
    /* text-align: center; */
    background-color: #ffffff; /* 컨테이너 배경색 */
    padding: 5vw;
    box-shadow: 0px 0px 50vw rgba(0, 0, 0, 0.1); /* 그림자 효과*/

}


/** 반응형 메뉴 바 */

/** 모바일 화면 */
@media (max-width: 480px) {
    .menu {
        position: fixed;
        width: 100vw;
        height: auto;       /* 전체 높이 */
        overflow: hidden;
        margin: 0vw;
        padding-top: 0vw;
        padding-bottom: 10vw;
    }
    
    #nav-menu {
        line-height: 40px;    /* 줄간격 */
        background-color: transparent;
        margin-top: 2vw;
        padding-right: 3vw;
    }

    /* 나브 아이콘 스타일링 */
    #nav-icon {
        cursor: pointer;
        width: 28px;
        float: right;
        margin-right: 3.5vw;
        margin-top: 1.5vw;
    }

    .menu > li {
        position: fixed;
        width: auto;
        float: right;
        text-align: center;
        position: sticky;
        padding-right: 10vw;
    }
    
    .menu a { /* 메뉴 텍스트 색 */
        color: #000000;
        font-family: "Suit-SemiBold" ;
        font-size: 18px;
    }
    
    .submenu > li {
        display: none;
    }
        
    .logoImg {
        position: fixed;
        width: 43px;
        float: center;
        right: calc(37vw + 5vw); /* 스크롤을 내릴 때 왼쪽에서 10px만큼 이동 */
        transition: right 0.7s ease-in-out; /* 왼쪽으로 이동할 때 애니메이션 적용 .. 시간 조절 불가능.. 안먹힘*/
    }
    
    .logoImg.fixed {
        right: calc(40vw + 45vw); /* 스크롤을 내릴 때 왼쪽 끝으로 이동할 위치 설정 */
    }


}

/**태블릿 화면 */
@media (min-width: 481px) and (max-width: 1024px) {
    .menu {
        position: fixed;
        width: 100vw;
        height: auto;       /* 전체 높이 */
        overflow: hidden;
        margin: 0vw;
        padding-top: 0vw;
        padding-bottom: 10vw;
    }
    
    #nav-menu {
        line-height: 70px;    /* 줄간격 */
        background-color: transparent;
        margin-top: 2vw;
        padding-right: 3vw;
    }

    /* 나브 아이콘 스타일링 */
    #nav-icon {
        cursor: pointer;
        width: 50px;
        float: right;
        margin-right: 3.5vw;
        margin-top: 1.5vw;
    }

    .menu > li {
        position: fixed;
        width: auto;
        float: right;
        text-align: center;
        position: sticky;
        padding-right: 10vw;
    }
    
    .menu a { /* 메뉴 텍스트 색 */
        color: #000000;
        font-family: "Suit-SemiBold" ;
        font-size: 30px;
    }
    
    .submenu > li {
        display: none;
    }
    
    .logoImg {
        position: fixed;
        width: 7vw;
        right: calc(40vw + 5vw); /* 스크롤을 내릴 때 왼쪽에서 10px만큼 이동 */
        transition: right 0.7s ease-in-out; /* 왼쪽으로 이동할 때 애니메이션 적용 .. 시간 조절 불가능.. 안먹힘*/
    }
    
    .logoImg.fixed {
        right: calc(40vw + 45vw); /* 스크롤을 내릴 때 왼쪽 끝으로 이동할 위치 설정 */
    }
}

/** 데스크탑 화면 */
@media (min-width: 1025px) {
    .menu {
        position: fixed;
        width: 100vw;
        height: auto;       /* 전체 높이 */
        overflow: hidden;
        margin: 0vw;
        padding-top: 0vw;
        padding-bottom: 10vw;
    }
    
    #nav-menu {
        line-height: 70px;    /* 줄간격 */
        background-color: transparent;
        margin-top: 2vw;
        padding-right: 3vw;
    }

    /* 나브 아이콘 스타일링 */
    #nav-icon {
        cursor: pointer;
        width: 50px;
        float: right;
        margin-right: 3.5vw;
        margin-top: 1.5vw;
    }

    .menu > li {
        position: fixed;
        width: auto;
        float: right;
        text-align: center;
        position: sticky;
        padding-right: 10vw;
    }
    
    .menu a { /* 메뉴 텍스트 색 */
        color: #000000;
        font-family: "Suit-SemiBold" ;
        font-size: 25px;
    }
    
    .submenu > li {
        display: none;
    }
    
    .logoImg {
        position: fixed;
        width: 70px;
        float: center;
        right: calc(43vw + 5vw); /* 스크롤을 내릴 때 왼쪽에서 10px만큼 이동 */
        transition: right 0.7s ease-in-out; /* 왼쪽으로 이동할 때 애니메이션 적용 .. 시간 조절 불가능.. 안먹힘*/
    }
    
    .logoImg.fixed {
        right: calc(40vw + 50vw); /* 스크롤을 내릴 때 왼쪽 끝으로 이동할 위치 설정 */
    }
}


/** 세부 설정 */
.motionGraphic {
    padding-top: 110vw;
    padding-bottom: 110vw;
    padding: 110vw 0vw 110vw 0vw;
    background-color: #9ea9f2; /* 컨테이너 배경색 */
    width: 100vw;
}

.decorate_1 {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    font-family: 'Suit-ExtraLight';
}

.year {
    margin: 00px;
    padding: 0px;
    rotate:90deg;
    width: 50px;
    font-size: 5vw;
}

.decorate_2 {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.v-line {
    margin-top: 8vw;
    margin-bottom: 0vw;
    border-left : 0.2vw solid #000000;
    height : 20vw;
}

.article {
    padding-top: 30vw;
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트도 수평 가운데 정렬합니다. */
    flex-direction: column; /* 내부 요소들을 수직으로 정렬합니다. */

}

.title {
    font-family: 'Suit-Regular';
    font-size: 10vw;
}

.subTitle {
    padding-top: 35px;
    font-family: 'Suit-ExtraLight';
    font-size: 3vw;
}

.contents {
    margin: 20vw 15vw 30vw 15vw;
    font-size: 3vw;
    font-family: 'Pretendard-Medium';
}

.decorate_3 {
    font-size: 12vw;
    font-family: 'Suit-Thin';
    margin-top: 20vw;
    margin-bottom: 20vw;
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    justify-content: center; /* 수평 가운데 정렬 */
}

/** 이미지 부분 */
.scroll {
    background-color: #9ea9f2; /* 스크롤 영역 배경색 설정 */
    padding: 30vw; /* 스크롤 영역 패딩 추가 */
    overflow: auto; /* 스크롤 가능하도록 설정 */
    width: 100vw; /* 전체 너비 사용 */
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.image-container {
    display: flex; /* 이미지를 가로로 나란히 배치하기 위해 Flexbox 사용 */
    gap: 8vw; /* 이미지 간격을 3vw로 지정 */
    white-space: nowrap; /* 이미지가 한 줄로 나타나도록 설정 */
}

/* 이미지 스타일 */
.image-container img {
    max-width: 30vw; /* 이미지 크기를 최대 너비로 설정 */
    height: auto; /* 이미지 높이 자동 조정 */
}

/** 스크롤 바의 스타일 설정 */
/* 스크롤 바 배경색 */
.scroll::-webkit-scrollbar {
    width: 80vw; /* 스크롤 바 너비 설정 */
    background-color: #870f0f; /* 스크롤 바 배경색 설정 */
}

/* 스크롤 바의 스크롤 진척도 색상 설정 */
.scroll::-webkit-scrollbar-thumb {
    height: 5vw;
    background-color: #ff6600; /* 스크롤 진척도 색상 설정 */
}

/* 스크롤 바의 스크롤 진척도 색상 설정 (hover 상태) */
.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ff9900; /* 스크롤 진척도 hover 시 색상 변경 */
}



.decorate_4 {
    font-size: 45px;
    font-weight: lighter;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column; /* 세로로 쌓이도록 설정 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트도 가운데 정렬 */
    padding-top: 10vw;
    padding-bottom: 20vw;
}


