/*! improt */
@import url('./apple-reset.css');        /** 애플 기종 초기화 */
@import url('font.css');        /** 폰트 */
@import url('normalize.css');   /** 전범위 초기화 */
@import url('r-navbar.css');    /** 반응형 나브 바 */
@import url('r-footer.css');    /** 반응형 푸터 */


/**! 반응형 상세설정 */
@media (max-width: 480px) {     /** 모바일 화면 */
    /*! body  */
    #year {
        font-size: 13.5px;
    }

    #boxText_1 {
        font-size: 18px;
    }

    #popUpText_1 {
        font-size: 31.5px;
    }

    #popUpText_2 {
        font-size: 15px;
    }

    #boxText_2 {
        font-size: 18px;
    }

    #popUpText_2Sub {
        font-size: 12px;
        line-height: 19px; 
    }

    #test_title {
        font-size: 31.5px;
        line-height: 30px; 
    }

    #test_article {
        font-size: 13.5px;
        line-height: 19px; 
    }
    
    #test_subtitle {
        font-size: 13.5px;
        line-height: 23px; 
    }
    
    #scoll-info{
        font-size: 13.5px;
        line-height: 19px;
    }
    
    #test_subtitle_2 {
        font-size: 13.5px;
        line-height: 23px; 
    }
    
    #imgInfo {
        font-size: 13.5px;
        line-height: 23px; 
    }
}

@media (min-width: 481px) and (max-width: 1024px) {     /**태블릿 화면 */
    /*! body  */
    #year {
        font-size: 21.05px;
    }

    #boxText_1 {
        font-size: 28.07px;
    }

    #popUpText_1 {
        font-size: 49.26px;
    }

    #popUpText_2 {
        font-size: 18.75px;
    }

    #boxText_2 {
        font-size: 20px;
    }

    #popUpText_2Sub {
        font-size: 15px;
        line-height: 22.5px; 
    }

    #test_title {
        font-size: 49.26px;
        line-height: 47px; 
    }

    #test_article {
        font-size: 21.05px;
        line-height: 29.733p; 
    }
    
    #test_subtitle {
        font-size: 21.05px;
        line-height:29.733p; 
    }
    
    #scoll-info{
        font-size: 21.05px;
        line-height: 29.733p;
    }
    
    #test_subtitle_2 {
        font-size: 21.05px;
        line-height:  36.83px; 
    }
    
    #imgInfo {
        font-size: 21.05px;
        line-height:  36.83px; 
    }
}

@media (min-width: 1025px) {     /** 데스크탑 화면 */
    /*! body  */
    #year {
        font-size: 36.0px;
    }

    #boxText_1 {
        font-size: 48.0px;
    }

    #popUpText_1 {
        font-size: 84.0px;
    }

    #popUpText_2 {
        font-size: 40.0px;
    }

    #boxText_2 {
        font-size: 50.0px;
    }

    #popUpText_2Sub {
        font-size: 30.0px;
        line-height: 50.7px; 
    }

    #test_title {
        font-size: 84.0px;
        line-height: 80.0px; 
    }

    #test_article {
        font-size: 36.0px;
        line-height: 50.7px; 
    }
    
    #test_subtitle {
        font-size: 36.0px;
        line-height: 61.3px; 
    }
    
    #scoll-info{
        font-size: 36.0px;
        line-height: 50.7px;
    }
    
    #test_subtitle_2 {
        font-size: 36.0px;
        line-height: 61.3px; 
    }
    
    #imgInfo {
        font-size: 36.0px;
        line-height: 61.3px; 
    }
}

/**! home page style */

/** video 모션 */
#video_1 {
    width: 100vw;
    max-width: 100vw;
    height: auto;
    margin: 0vw;
    padding: 0vw;
    margin-top: 18vw;
    margin-bottom: 20vw;
}
#video_2 {
    width: 100vw;
    height: auto;
    margin: 0vw;
    padding: 0vw;
    margin-top: 18vw;
    margin-bottom: 20vw;
}
#video_3 {
    width: 100vw;
    height: auto;
    margin: 0vw;
    padding: 0vw;
    margin-top: 18vw;
    margin-bottom: 20vw;
}


/** 가로 스크롤 이미지 */
.scroll {
    overflow-x: hidden; /* 가로 스크롤 막기 */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0vw;
    background-color: white;
    border-radius: 10vw;
    padding-bottom: 8vw;
}

.image-container::-webkit-scrollbar {
    height:0.8vw;
    background-color: #A4A4A4;
    border-radius: 100vw;
}

.image-container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5vw;
    max-width: 1vw;
}

.image-container img {
    width: 35vw;
    height: 50vw;
    margin-right: 8vw;
    padding-top: 30vw;
}


/** 년도 세로 */
.year {
    display: flex;
    justify-content: center; /* 가로축 중앙 정렬 */
    margin-bottom: 7vw;
    font-family: -apple-system; 
    font-style: normal;
    font-weight: 500;
}

#year {
    margin: 0vw;
    padding: 0vw;
    rotate:90deg;
    color: #000;
    font-family: 'Pretendard-Regular', -apple-system; /* 폰트 패밀리 이름  */
    font-style: normal;
    font-weight: 400;
}

/** 년도 직선 꾸밈선 */
.line {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 7vw;
}
.v-line {
    margin-top: 8vw;
    margin-bottom: 0vw;
    border-left : 0.2vw solid #000000;
    height : 20vw;
}

/** 본문 로고 */
.logoImg_2 {
    margin: 0vw;
    padding: 0vw;
    width: 5vw;
    margin-left: 47.5vw;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}


/** 메인 이미지  */
.mainImg_1 {
    margin: 0vw;
    padding-top: 20vw;
    padding-bottom: 8vw;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
}

#mainImg_1 {
    margin: 0vw;
    padding: 0vw;
    width: 85vw;
}

.mainImg_2 {
    margin-left: 10vw;

    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    width: 85vw;
    padding-top: 20vw;
    padding-bottom: 8vw;
}

.mainImg_3 {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    margin: 0vw;
    padding: 0vw;
}

#mainImg_3 {
    width: 80vw;
    padding-bottom: 4vw;
}

.mainImg_4 {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    margin: 0vw;
    padding: 0vw;
}

#mainImg_4 {
    width: 80vw;
    padding-bottom: 4vw;
}


/** 박스  */
/* 추가: 페이지 전체를 감싸는 컨테이너 */
.boxContainer {
    position: relative; /* 자식 요소의 절대 위치 설정을 가능하게 합니다 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vw;
}

.box_1 {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    width: 90vw;
    border: 0.5vw solid #000;
    justify-content: center; /* 수평 중앙 정렬 */
    height: 10vw
}

.boxText_1 {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

#boxText_1 {
    color: #000;
    font-family: 'Suit-SemiBold', -apple-system; 
    font-style: normal;
    font-weight: 600;
}

.iconImg_1 {
    display: flex;
    justify-content: flex-end; /* 요소를 컨테이너의 오른쪽 끝으로 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

#iconImg_1 {
    width: 3vw;
    padding-left: 10vw;
}


.box_2 {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    width: 90vw;
    border: 0.5vw solid #000;
    background-color: #000;
    justify-content: center; /* 수평 중앙 정렬 */
    height: 10vw
}

.boxText_2 {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

#boxText_2 {
    color: #ffffff;
    font-family: 'Suit-SemiBold', -apple-system; 
    font-style: normal;
    font-weight: 600;
}

.iconImg_2 {
    display: flex;
    justify-content: flex-end; /* 요소를 컨테이너의 오른쪽 끝으로 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

#iconImg_2 {
    width: 3vw;
    padding-left: 10vw;
}


/** 박스 클릭시 */
.popUpText_1 {
    display: none; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7); /* 흰색 배경에 0.7의 불투명도 */
    color: black; /* 텍스트 색상은 검정 */
    width: 100vw;
    height: 30vw;
    justify-content: center;
    align-items: center;
}

#popUpText_1 {
    color: black; /* 텍스트 색상은 검정 */
    font-family: -apple-system; 
    font-style: normal;
    font-weight: 500;
    
}

.popUpText_2{
    margin-top: 20vw;
    display:none;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    text-align: center; /*  텍스트를 중앙 정렬합니다 */

}

#popUpText_2 {
    width: 70vw;
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    margin: 0 auto; /* 새로 추가된 부분: 요소를 중앙 정렬합니다 */
    color: #000;
    font-family: -apple-system; 
    font-style: normal;
    font-weight: 500;
    margin-bottom: 8vw;
}

#popUpText_2Sub {
    display: block; /* 새로 추가된 부분: 요소를 블록 수준으로 만듭니다. 이렇게 하면 텍스트가 자신의 줄에 표시됩니다. */
    color: #000;
    font-family: 'Pretendard-Regular', -apple-system; 
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10wv;
    margin: 0 auto; /* 새로 추가된 부분: 요소를 중앙 정렬합니다 */

}

#kakaoImg_2{
    width: 10vw;
    margin-top: 10vw;
    margin: 0 auto; /* 새로 추가된 부분: 요소를 중앙 정렬합니다 */
}


/** 텍스트 요소 */
#test_title {
    margin-left: 10vw;
    color: #000;
    font-family: -apple-system; 
    font-style: normal;
    font-weight: 500;
    margin-bottom: 8vw;
}

#test_article {
    margin-left: 10vw;
    margin-right: 10vw;
    color: #000;
    font-family: 'Pretendard-Regular', -apple-system; 
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5vw;
}

#test_subtitle {
    margin-left: 10vw;
    margin-right: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Suit-SemiBold', -apple-system; 
    font-style: normal;
    font-weight: 600;
    margin-bottom: 50vw;
}

#scoll-info{
    color: #000;
    font-family: 'Pretendard-Regular', -apple-system; 
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center; 
    margin-top: 10vw;
    margin-bottom: 20vw;
}

#test_subtitle_2 {
    margin-left: 10vw;
    color: #000;
    font-family: 'Suit-SemiBold', -apple-system; 
    font-style: normal;
    font-weight: 600;
    margin-bottom: 3vw;
}

#imgInfo {
    color: #000;
    font-family: 'Suit-SemiBold', -apple-system; 
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1vw;
}

.imgInfo_1 {
    display: flex;
    justify-content: left; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-left: 10vw;

}

.imgInfo_2 {
    display: flex;
    justify-content: right; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-right: 10vw;
}

.imgInfoContainer {
    display: flex;
    justify-content: space-between; /* or space-around, center, flex-start, flex-end 등 */
}

.boxContainer p {
    font-family: -apple-system; 
    font-style: normal;
    font-weight: 500;
}

